/* 상단 */
.popup {
    position: fixed;
    top: 30%;
    right: 0;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    height: 500px;
    background: url(../img/popup-back-1.jpg) no-repeat center center;
    background-size: contain;
    z-index: 10;
}

.popup > a:first-child > img {
    width: 20px;
    margin-top: 18px;
    margin-left: 275px;
    cursor: pointer;
}

.popup > a:nth-child(2) > img {
    width: 200px;
    margin-top: 350px;
    margin-left: 50px;
    cursor: pointer;
}
/*
header::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    left: 50%;
    transition: translateX(-50%);
    background-color: #cccccc;
    z-index: -1;
}
*/
header::after {
    content: "";
    position: fixed;
    top: 105px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #cccccc;
    z-index: -1;
}

@media (max-width:1200px) {
    header::after {
        display: none;
    }

    header::before {
        display: none;
    }

    header > a > .logo-1 {
        width: 100px;
        height: 100px;
    }
}

section {
    width: 100%;
    position: relative;
}

section.top {
    height: 100%;
    overflow: hidden;
}

section.top > .img-box {
    position: fixed;
}

section.top > .img-box > .banner-img {
    margin: 0 auto;
    width: 100%;
}

section.top > .txt-box > .banner-txt {
    position: absolute;
    top: -200%;
    left: 0;
    width: 100%;
}

section.top > .btn-box-1 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media (max-width:1200px) {
    section.top > .btn-box-1 {
        display: none;
    }
}

section.top > .btn-box-1 > div {
    float: left;
    width: 10px;
    height: 10px;
    margin: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: #444035;
    cursor: pointer;
}

.now-btn {
    transform: scale(2);
    background-color: #f5a100 !important;
}

section.top > .scroll-img-box {
    position: absolute;
    bottom: 10px;
    right: 5px;
}

section.top > .scroll-img-box > span {
    float: left;
    height: 20px;
    padding: 15px;
    font-size: 20px;
}

section.top > .scroll-img-box > img {
    float: left;
    height: 50px;
}

/* 중단 */

section.middle {
    width: 100%;
}

section.middle > aside {
    position: fixed;
    width: 25%;
    top: 200px;
    left: 0;
}

section.middle > aside > ul > li {
    position: relative;
}

section.middle > aside > ul > li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 20%;
    width: 20%;
    height: 2px;
    background-color: black;
}

section.middle > aside > ul > li > a {
    margin-left: 50%;
    font-weight: bold;
}

section.middle > article {
    margin-top: 200px;
    min-height: 800px;
}

section.middle > article > div {
    float: left;
    width: 50%;
    padding-left: 100px;
    box-sizing: border-box;
}

section.middle > article > div:first-child {
    margin-left: 25%;
    padding-left: 50px;
    width: 25%;
}

section.middle > article > div > h1 {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
}

section.middle > article > div > h2 {
    margin: 10px 0 0 25px;
    font-size: 24px;
    font-weight: bold;
}

section.middle > article > div > h3 {
    margin: 25px 0 0 0;
    font-family: "Crimson Text";
    font-size: 100px;
    font-weight: normal;
    position: relative;
}

section.middle > article#content-1 > div > img {
    margin-top: 200px;
}

section.middle > article#content-2 > div > img {
    float: left;
    width: 40%;
    margin: 15px 0;
}

/* 하단 */

section.bottom {
    height: 100%;
    overflow: hidden;
}

section.bottom > .video-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    cursor: pointer;
}

section.bottom > .video-cover > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

section.bottom > .video-box {
    display: block;
    position: relative;
    width: 1000px;
    height: 800px;
    margin: 50px auto;
}

section.bottom > .video-box > .logo-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
}

section.bottom > .video-box > .bottle-cap {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 200px;
    height: 100px;
    opacity: 0;
    transform: translateX(-50%);
    z-index: 2;
}

section.bottom > .video-box > .bottle-body {
    position: absolute;
    top: 400px;
    left: 50%;
    width: 200px;
    height: 0px;
    opacity: 0;
    transform: translateX(-50%);
    z-index: 1;
}

section.bottom > .video-box > .bottle-label {
    position: absolute;
    top: 500px;
    left: 50%;
    width: 140px;
    height: 80px;
    opacity: 0;
    background-color: white;
    border: 2px solid black;
    transform: translateX(-50%) scale(5);
    z-index: 2;
}

section.bottom > .video-box > .bottle-liquid-1 {
    position: absolute;
    top: 280px;
    left: 50%;
    width: 20px;
    height: 0px;
    border-radius: 0 20px 0 0;
    background-color: #ffced1;
    transform: translateX(-50%);
    z-index: 0;
}

section.bottom > .video-box > .bottle-liquid-2 {
    position: absolute;
    top: 300px;
    left: 50%;
    width: 20px;
    height: 0px;
    background-color: #ffced1;
    transform: translateX(-50%);
    z-index: 0;
}

section.bottom > .video-box > .bottle-liquid-3 {
    position: absolute;
    top: 700px;
    left: 50%;
    width: 180px;
    height: 0px;
    border-radius: 10px;
    background-color: #ffced1;
    transform: translateX(-50%);
    z-index: 0;
}

section.bottom > .video-box > .bottle-car {
    position: absolute;
    top: 500px;
    left: 50%;
    width: 300px;
    height: 200px;
    margin-left: -300px;
    opacity: 0;
    transform: translateX(-50%);
    z-index: 1;
}

section.bottom > .video-box > .bottle-car > img {
    width: 90%;
}


/* 애니메이션 */
.action-1 {
    -webkit-animation: action-1 20s ease-out alternate;
}

@-webkit-keyframes action-1 {
    0% {
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    5% {
        top: 0px;
        transform: translateX(-50%) rotate(0deg);
    }

    6% {
        top: 15px;
        transform: translateX(-50%) rotate(45deg);
    }

    7% {
        top: 0px;
        transform: translateX(-50%) rotate(30deg);
    }

    8% {
        top: 15px;
        transform: translateX(-50%) rotate(45deg);
    }

    9% {
        top: 0px;
        transform: translateX(-50%) rotate(30deg);
    }

    10% {
        top: 15px;
        transform: translateX(-50%) rotate(45deg);
    }

    11% {
        margin-left: 0;
        top: 0px;
        transform: translateX(-50%) rotate(30deg);
    }

    15% {
        margin-left: -175px;
        transform: translateX(-50%) rotate(30deg);
    }

    17% {
        margin-left: -165px;
        transform: translateX(-50%) rotate(35deg);
    }

    19% {
        margin-left: -155px;
        transform: translateX(-50%) rotate(40deg);
    }

    21% {
        margin-left: -140px;
        transform: translateX(-50%) rotate(45deg);
    }

    22% {
        margin-left: -125px;
        transform: translateX(-50%) rotate(55deg);
    }

    23% {
        margin-left: -140px;
        transform: translateX(-50%) rotate(45deg);
    }

    25% {
        margin-left: 0px;
        top: -25px;
    }

    26% {
        margin-left: -20px;
        top: -50px;
    }

    27% {
        margin-left: 20px;
    }

    28% {
        margin-left: -20px;
    }

    29% {
        margin-left: 20px;
    }

    30% {
        margin-left: 0;
    }

    33% {
        top: -50px;
    }

    34% {
        top: 55px;
    }

    35% {
        top: -50px;
    }

    36% {
        top: 65px;
    }

    37% {
        top: -50px;
    }

    42% {
        top: -50px;
        transform: translateX(-50%) rotate(45deg) scale(1);
    }

    43% {
        top: -50px;
        transform: translateX(-50%) rotate(45deg) scale(1.5);
    }

    44% {
        top: 350px;
        transform: translateX(-50%) rotate(45deg) scale(1.5);
    }

    45% {
        transform: translateX(-50%) rotate(45deg) scale(1.5);
    }

    46% {
        transform: translateX(-50%) rotate(40deg) scale(1.5);
    }

    47% {
        transform: translateX(-50%) rotate(50deg) scale(1.5);
    }

    48% {
        transform: translateX(-50%) rotate(45deg) scale(1.5);
    }

    49% {
        transform: translateX(-50%) rotate(40deg) scale(1.5);
    }

    50% {
        transform: translateX(-50%) rotate(50deg) scale(1.5);
    }

    51% {
        transform: translateX(-50%) rotate(45deg) scale(1.5);
    }

    52% {
        transform: translateX(-50%) rotate(45deg) scale(1.5);
        margin-left: 0;
    }

    53% {
        transform: translateX(-50%) rotate(0deg) scale(1.5);
        margin-left: -200px;
    }

    54% {
        transform: translateX(-50%) rotate(-45deg) scale(1.5);
        margin-left: -400px;
    }

    72% {
        transform: translateX(-50%) rotate(-45deg) scale(1.5);
        margin-left: -400px;
    }

    75% {
        transform: translateX(-50%) rotate(-45deg) scale(1.5);
        margin-left: 0;
    }

    78% {
        transform: translateX(-50%) rotate(-45deg) scale(1);
    }

    80% {
        top: 350px;
        transform: translateX(-50%) rotate(0deg);
    }

    90% {
        top: 25%;
        transform: translateX(-50%) rotate(-720deg);
    }

    95% {
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    100% {
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
}

.action-2 {
    -webkit-animation: action-2 20s ease-out alternate;
}

@-webkit-keyframes action-2 {
    0% {
        top: 50px;
        transform: translateX(-50%);
        opacity: 0;
    }

    10% {
        top: 50px;
        height: 0px;
        transform: translateX(-50%);
        opacity: 0;
    }

    11% {
        top: 450px;
        height: 300px;
        transform: translateX(-50%) rotate(15deg);
        opacity: 1;
    }

    12% {
        transform: translateX(-50%) rotate(-15deg);
    }

    13% {
        transform: translateX(-50%) rotate(10deg);
    }

    14% {
        transform: translateX(-50%) rotate(-10deg);
    }

    15% {
        transform: translateX(-50%) rotate(0deg);
    }

    45% {
        opacity: 1;
    }

    46% {
        opacity: 0;
    }

    100% {
        top: 450px;
        height: 300px;
        transform: translateX(-50%);
        opacity: 0;
    }
}

.action-3 {
    -webkit-animation: action-3 20s ease-out alternate;
}

@-webkit-keyframes action-3 {
    0% {
        top: 280px;
        height: 0px;
    }

    16% {
        height: 0px;
    }

    17% {
        top: 280px;
        height: 20px;
    }

    18% {
        top: 280px;
        height: 20px;
        width: 20px;
    }

    19% {
        top: 280px;
        height: 20px;
        width: 16px;
    }

    20% {
        top: 300px;
        height: 0px;
        width: 12px;
    }

    21% {
        width: 8px;
    }

    100% {
        top: 300px;
        height: 0;
        width: 8px;
    }
}

.action-4 {
    -webkit-animation: action-4 20s ease-out alternate;
}

@-webkit-keyframes action-4 {
    0% {
        top: 300px;
        height: 0px;
    }

    17% {
        height: 0px;
    }

    18% {
        height: 150px;
        width: 20px;
    }

    19% {
        height: 300px;
        width: 16px;
    }

    20% {
        top: 300px;
        height: 400px;
        width: 12px;
    }

    21% {
        top: 320px;
        height: 250px;
        width: 8px;
    }

    23% {
        top: 600px;
        height: 0;
    }

    100% {
        top: 340px;
        height: 0;
        width: 8px;
    }
}

.action-5 {
    -webkit-animation: action-5 20s ease-out alternate;
}

@-webkit-keyframes action-5 {
    0% {
        top: 740px;
        height: 0px;
    }

    19% {
        top: 740px;
        height: 0px;
    }

    20% {
        top: 670px;
        height: 70px;
    }

    21% {
        top: 600px;
        height: 140px;
    }

    22% {
        top: 530px;
        height: 210px;
    }

    23% {
        top: 485px;
        height: 255px;
    }

    45% {
        opacity: 1;
    }

    46% {
        opacity: 0;
    }

    100% {
        top: 485px;
        height: 255px;
        opacity: 0;
    }
}

.action-6 {
    -webkit-animation: action-6 20s ease-out alternate;
}

@-webkit-keyframes action-6 {
    0% {
        opacity: 0;
    }

    28% {
        opacity: 0;
    }

    30% {
        top: 0px;
        opacity: 1;
    }

    31% {
        top: 365px;
    }

    34% {
        top: 365px;
    }

    35% {
        top: 380px;
    }

    36% {
        top: 380px;
    }

    37% {
        top: 390px;
    }

    45% {
        opacity: 1;
    }

    46% {
        opacity: 0;
    }

    100% {
        top: 390px;
        opacity: 0;
    }
}

.action-7 {
    -webkit-animation: action-7 20s ease-out alternate;
}

@-webkit-keyframes action-7 {
    0% {
        opacity: 0;
    }

    38% {
        opacity: 0;
    }

    39% {
        transform: translateX(-50%) scale(5);
        opacity: 1;
    }

    40% {
        transform: translateX(-50%) scale(1);
    }

    45% {
        opacity: 1;
    }

    46% {
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) scale(1);
        opacity: 0;
    }
}

.action-8 {
    -webkit-animation: action-8 20s ease-out alternate;
}

@-webkit-keyframes action-8 {
    0% {
        opacity: 0;
    }

    54% {
        opacity: 0;
    }

    55% {
        opacity: 1;
        margin-left: -300px;
    }

    70% {
        opacity: 1;
        margin-left: 1500px;
    }

    71% {
        opacity: 0;
        margin-left: 1500px;
    }

    100% {
        margin-left: 1000px;
        opacity: 0;
    }
}
