html,
body {
    height: 100%;
}

/*
body::after {
	content: url("../img/ex-down-1.png");
	text-align: center;
	display: block;
	height: 50px;
	padding: 10px;
	background: black;
	background-size: initial;
}
*/

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

header > ul {
    float: left;
    width: 50%;
}

@media (max-width:1200px) {
    header > ul {
        display: none;
    }
}

header > .top-menu-2 {
    text-align: right;
}

header > ul > li {
    display: inline-block;
}

header > ul > li > a {
    display: block;
    padding: 10px;
    margin: 30px;
    font-size: 24px;
    font-weight: bold;
}

header > a > .logo-1 {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    z-index: 5;
}

.con {
    margin: 0 auto;
}

.img-box > img {
    width: 100%;
    display: block;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.cell {
    float: left;
    box-sizing: border-box;
}

footer {
    display: block;
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #808080;
}

footer > ul {
    padding: 5px;
}

footer > ul > li {
	float: left;
	width: 33.3333%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 40px;
}

footer > ul > li > h3 {
	font-size: 22px;
	margin: 10px;
}

footer > ul > li > p {
	font-size: 18px;
    color: #808080;
}

footer > p {
	float: left;
	width: 100%;
    text-align: center;
    padding: 10px 0;
	font-size: 18px;
    color: #808080;
    font-weight: normal;
}

.hide {
    display: none;
}