section.con {
    margin-top: 200px;
    margin-bottom: 100px;
}

section.con > form {
    width: 430px;
    margin: 0 auto;
}

section.con > form > div {
    padding: 15px;
    clear: both;
}

section.con > form > div > h1 {
    font-size: 40px;
    text-align: center;
    position: relative;
}

section.con > form > div > h1::after {
    content: "";
    width: 0px;
    height: 8px;
    position: absolute;
    top: 35px;
    left: 125px;
    background-color: red;
    z-index: -1;
}

section.con > form > div > h1.active::after {
    width: 150px;
    transition: width 0.5s;
}

section.con > form > div > label {
    font-size: 24px;
    padding-left: 15px;
}

section.con > form > div > input {
    width: 100%;
    margin-top: 10px;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

section.con > form > div:nth-child(5) {
    text-align: center;
}

section.con > form > div > button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    color: white;
    background-color: red;
    cursor: pointer;
}

section.con > form > div:last-child {
    margin-top: 20px;
}

section.con > form > div:last-child > div {
    float: left;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    color: white;
    background-color: black;
}

section.con > form > div:last-child > img {
    float: right;
    width: 45px;
    margin: 0 5px;
    cursor: pointer;
}
